# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
**/*.tfstate.backup
.terraform.lock.hcl

# Credentials
google-credential.json
service-account-key.json
*.pem
*.key
# Google Cloud service account key
Cloud/Packer/se-key.json
Cloud/Packer/se-key.json
*.json
